<footer>

<h2>Registered Office</h2>
<p>6A Dr. Rajendra Prasad Sarani Room # 6/12 5th Floor, Kolkata – 700001</p>
<p>Tel: +91-33-22304730/ 22310525/ 30224730</p>
<p>Fax: +91-33-30267730</p>
<p>Mobile: +91-9831053223/ 9433015322</p>
<br>
<h3>Branch Office 1</h3>
<p>148A, Padmabati A, Lane No. 5, Nirman Nagar, Jaipur – 302019</p>
<br>
<h3>Branch Office 2</h3>
<p>Koat Bazar Sitamarhi, Bihar – 843302</p>
<br>
<h2>General Enquiries</h2>
<p>contact@gopaltrading.com</p>

</footer>
